<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>관리 페이지</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="/css/admin.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header data-th-replace="~{header :: header}"></header>

  <main>

    <aside class="sidemenu clearfix">
      <ul>
        <li>
          <input id="board-admin" name="admin-radio" type="radio">
          <label for="board-admin">게시글 관리</label>
        </li>
        <li>
          <input id="category-admin" name="admin-radio" type="radio">
          <label for="category-admin">수집품 분류 관리</label>
        </li>
        <li>
          <input id="achievement-admin" name="admin-radio" type="radio">
          <label for="achievement-admin">업적 관리</label>
        </li>
        <li>
          <input id="user-admin" name="admin-radio" type="radio">
          <label for="user-admin">회원 관리</label>
        </li>
        <li>
          <input id="report-admin" name="admin-radio" type="radio">
          <label for="report-admin">신고/유해콘텐츠 관리</label>
        </li>
        <li>
          <input id="statistics-admin" name="admin-radio" type="radio">
          <label for="statistics-admin">통계 조회</label>
        </li>
      </ul>
    </aside>
    <section class="main-section">
      <h1>관리자</h1>
      <div class="table-section">
        <table>

        </table>
      </div>
      <div class="page-section">

      </div>
    </section>
  </main>

  <footer data-th-replace="~{footer :: footer}"></footer>

  <script src="/js/admin.js"></script>
</body>
</html>
