spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${google.client-id}
            client-secret: ${google.client-secret}
            scope:
              - email
              - profile
            redirect-uri: https://moum.bangdpool.com/login/oauth2/code/google
          kakao:
            client-id: ${kakao.client-id}
            client-secret: ${kakao.client-secret}
            admin-key: ${kakao.client-admin}
            redirect-uri: https://moum.bangdpool.com/login/oauth2/code/kakao
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            client-name: Kakao
            scope:
              - profile_nickname
              - account_email
          naver:
            client-id: ${naver.client-id}
            client-secret: ${naver.client-secret}
            scope:
              - name
              - email
            client-name: Naver
            authorization-grant-type: authorization_code
            redirect-uri: https://moum.bangdpool.com/login/oauth2/code/naver

          provider:
            kakao:
              authorization-uri: https://kauth.kakao.com/oauth/authorize
              token-uri: https://kauth.kakao.com/oauth/token
              user-info-uri: https://kapi.kakao.com/v2/user/me
              user-name-attribute: id

            naver:
              authorization-uri: https://nid.naver.com/oauth2.0/authorize
              token-uri: https://nid.naver.com/oauth2.0/token
              user-info-uri: https://openapi.naver.com/v1/nid/me
              user-name-attribute: response

  application:
    name: moum

  config:
    import:
      - "file:${user.home}/config/ncp.properties"
      - "file:${user.home}/config/mail.properties"

# 운영DB로 변경 예정
  datasource:
    url: jdbc:mysql://db-pfr3l-kr.vpc-pub-cdb.ntruss.com/moum
    username: moum
    password: bitcamp123!@#
    driver-class-name: com.mysql.cj.jdbc.Driver

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html

  servlet:
    multipart:
      enabled: true
      location: ${user.home}/upload
      max-request-size: 30MB
      max-file-size: 10MB

#  web:
#    resources:
#      static-locations: file:src/main/resources/static/

  mail:
    host: smtp.gmail.com
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
    auth-code-expiration-millis: 180000

mybatis:
  mapper-locations:
  type-aliases-package:

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    moum.project: INFO

server:
  port: 443
  ssl:
    enabled: true
    key-store: /etc/letsencrypt/live/moum.bangdpool.com/keystore.p12
    key-store-password: ""
    key-store-type: PKCS12
    key-alias: moum
    key-password: ""
