<!doctype html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/style.css" rel="stylesheet" type="text/css">


    <title>Document</title>

</head>
<body>
<main>
  <div class="achievement-user-progress">
        <h2>내 업적</h2> <!-- 제목 추가 -->
        <div class="filter-container">
            <label>
                <input type="checkbox" class="filter" value="not-started" onchange="filterAchievements()" checked> 미획득
            </label>
            <label>
                <input type="checkbox" class="filter" value="completed" onchange="filterAchievements()"> 획득
            </label>
        </div>
        <block data-th-each="achievement : ${list}">
            <div class="achievement-photo" data-th-id="${achievement.id}" data-th-progress="${achievement.progress}">
                <span class="achievement-image">
                <img data-th-src="@{${achievement.progress == 100 ?
                        '/images/achievement/complete/' + achievement.photo :
                        '/images/achievement/' + achievement.photo}}"
                         class="achievement-img">

                    <!--                '/images/achievement/' + ${achievement.photo}   -->
                </span>
                <span class="achievement-details">
                    <div>
                        <span data-th-text="${achievement.name}">업적명</span>
                    </div>
                    <div>
                        <span data-th-text="${achievement.content}">설명</span>
                    </div>
                    <div class="progress-bar-container">
                        <div class="progress-bar"
                             data-th-class="'progress-bar '+ ${achievement.progress < 50 ? 'low' : (achievement.progress < 80 ? 'medium' : 'high')}"
                             data-th-style="'width:' + ${achievement.progress} + '%'"></div>
                    </div>
                    <div class="progress-text" data-th-text="${achievement.progress} + '%'"></div>
                </span>
            </div>
        </block>
     </div>
</main>
</body>

</html>

