<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>내 정보</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<div th:replace="~{header :: header}"></div>

<body>
<main>
  <h1>내 정보</h1>

  <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
  <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

  <div th:unless="${user}">
    <p>사용자 정보를 찾을 수 없습니다.</p>
  </div>

  <div th:if="${user}" th:object="${user}">
    <div class="profile-image-container">
      <a th:if="*{photo != null}" th:href="'https://kr.object.ncloudstorage.com/bitcamp-moum/user/profile/' + *{photo}">
        <img th:src="'https://kr.object.ncloudstorage.com/bitcamp-moum/user/profile/' + *{photo}" class="profile-img" alt="프로필 이미지">
      </a>
      <a th:if="*{photo == null}" href="https://kr.object.ncloudstorage.com/bitcamp-moum/images/default-profile.png">
        <img src="https://kr.object.ncloudstorage.com/bitcamp-moum/images/default-profile.png" class="profile-img" alt="기본 프로필 이미지">
      </a>
    </div>

    <div class="user-info">
      <p>닉네임: <span th:text="*{nickname}"></span></p>
      <p>이메일: <span th:text="*{email}"></span></p>
    </div>

    <button class="edit-button" onclick="location.href='/user/update'">수정하기</button>
  </div>
</main>
</body>
</html>
