<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
</head>
<body>
<h2>로그인</h2>
<form th:action="@{/auth/login}" method="post">
  <div>
    <label for="email">이메일:</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">암호:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <input type="checkbox" id="saveEmail" name="saveEmail">
    <label for="saveEmail">이메일 저장</label>
  </div>
  <div>
    <button type="submit">로그인</button>
  </div>
</form>
</body>
</html>
