.sidemenu {
  position: fixed;
  top: 200px;
  left: 20px;
  width: 250px;
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.sidemenu li {
  list-style-type: none;
  margin: 5px auto;
}

.sidemenu li input,
.sidemenu li label {
  cursor: pointer;
}

.main-section {
  margin-left: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 310px);
  background-color: rgb(245, 245, 245);
  border: 1px solid lightgrey;
  border-radius: 25px;
}

.main-section .table-section {
  height: calc(100vh - 350px);
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
}

.main-section .table-section table {
  width: 95%;
  height: 90%;
  border-radius: 25px;
  border: none;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-collapse: collapse;
}

.main-section .table-section thead {
  position: sticky;
  top: 0;
  background-color: rgb(245, 245, 245);
  z-index: 1;
}

.main-section .table-section tbody {
  display: block;
  max-height: calc(100vh - 400px);
  overflow-x: auto;
  overflow-y: scroll;
}

.main-section .table-section tbody::-webkit-scrollbar {
  display: none;
}

.main-section .table-section tbody tr,
.main-section .table-section thead tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  border: 1px lightgrey solid;
}

.main-section .table-section th,
.main-section .table-section td {
  text-align: center;
  vertical-align: middle;
  padding: 3px;
  border: 1px lightgrey solid;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.main-section .page-section {
  margin: 10px;
}