.sidemenu {
  position: fixed;
  top: 200px;
  left: 20px;
  width: 250px;
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.sidemenu li {
  list-style-type: none;
  margin: 5px auto;
}

.sidemenu li input,
.sidemenu li label {
  cursor: pointer;
}

.main-section {
  margin-left: 310px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 310px);
  background-color: rgb(245, 245, 245);
  border: 1px solid lightgrey;
  border-radius: 25px;
}

.main-section h1 {
  margin-top: 20px;
}

.main-section .content-section {
  height: calc(100vh - 330px);
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
  padding: 20px;
}

.main-section .content-section::-webkit-scrollbar {
  display: none;
}

.main-section .content-section .list-table {
  width: 95%;
  height: 90%;
  border-radius: 25px;
  border: none;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-collapse: collapse;
}

.main-section .content-section .list-table thead {
  position: sticky;
  top: 0;
  background-color: rgb(245, 245, 245);
  z-index: 1;
}

.main-section .content-section .list-table tbody {
  display: block;
  max-height: calc(100vh - 400px);
  overflow-x: auto;
  overflow-y: scroll;
  padding-bottom: 5px;
}

.main-section .content-section .list-table tbody::-webkit-scrollbar {
  display: none;
}

.main-section .content-section .list-table tbody tr,
.main-section .content-section .list-table thead tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  border: 1px lightgrey solid;
  transition: box-shadow 0.1s ease;
}

.main-section .content-section .list-table th,
.main-section .content-section .list-table td {
  text-align: center;
  vertical-align: middle;
  padding: 3px;
  border: 1px lightgrey solid;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.main-section .content-section .list-table tr:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
  cursor: pointer;
}

.main-section .content-section .list-table thead tr:first-child:hover {
  box-shadow: none;
  transform: none;
  cursor: auto;
}

.main-section .page-section {
  margin: 10px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.main-section .content-section .img-div {
  display: flex;
  justify-content: center;
}

.main-section .content-section .user-profile-img,
.main-section .content-section .achievement-img {
  width: 300px;
  object-fit: contain;
}

.main-section .content-section .maincategory-table,
.main-section .content-section .subcategory-table {
  margin: 0 5px;
}

.main-section .content-section .subcategory-table {
  width: 60%;
  height: 90%;
  border-radius: 25px;
  border: none;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-collapse: collapse;
}

.main-section .content-section .subcategory-table thead {
  position: sticky;
  top: 0;
  background-color: rgb(245, 245, 245);
  z-index: 1;
}

.main-section .content-section .subcategory-table tbody {
  display: block;
  max-height: calc(100vh - 400px);
  overflow-x: auto;
  overflow-y: scroll;
  padding-bottom: 5px;
}

.main-section .content-section .subcategory-table tbody::-webkit-scrollbar {
  display: none;
}

.main-section .content-section .subcategory-table tbody tr,
.main-section .content-section .subcategory-table thead tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  border: 1px lightgrey solid;
  transition: box-shadow 0.1s ease;
}

.main-section .content-section .subcategory-table th,
.main-section .content-section .subcategory-table td {
  text-align: center;
  vertical-align: middle;
  padding: 3px;
  border: 1px lightgrey solid;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.main-section .content-section .view-table,
.main-section .content-section .maincategory-table {
  transition: opacity 0.3s ease-in-out;
  border-collapse: collapse;
  border-color: none;
}

.main-section .content-section .view-table th,
.main-section .content-section .view-table td,
.main-section .content-section .maincategory-table th,
.main-section .content-section .maincategory-table td {
  padding: 10px 20px;
  border: 1px lightgrey solid;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.main-section .content-section .view-table tr td:first-child {
  min-width: 200px;
}

.main-section .content-section .view-table input,
.main-section .content-section .view-table select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.main-section .content-section .report-btn {
  width: 100%;
  color: white;
  background: black;
}