.alert-btn {
  position: relative;
}

.alert-image {
  width: 22px;
}

/**
.alert-count {
  color: red;
  position: absolute;
  top: 0;
  left: 40%;
  transform: translateX(-50%);
}
**/

.alert-layer {
  background: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 400px;
  height: 500px;
  overflow-y: auto;
  position: fixed;
  top: 94px;
  right: 0;
  z-index: 50;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.alert-layer::-webkit-scrollbar {
  display: none;
}

.alert-layer .alert-box {
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease;
  font-size: 0.9rem;
}

.alert-layer .alert-box.active {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
  cursor: pointer;
}

.alert-layer .unread .alert-content {
  font-weight: bold;
    color: black;
}

.alert-layer .read .alert-content {
  font-weight: bold;
    color: lightgrey;
}

.alert-layer .alert-box .alert-delete-btn {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.alert-layer .alert-box .alert-content {
  padding: 10px;
  width: 65%;
}

.alert-layer .alert-box .alert-time {
  color: grey;
  font-size: 0.8rem;
  padding: 10px;
}

.alert-layer .read_alert_btn {
  position: relative;
  top: 5px;
  left: 78%;
}
