/* chat */
.chat-image {
  width: 22px;
}

.chatroom-layer {
  background: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 400px;
  height: 500px;
  overflow-y: auto;
  position: fixed;
  top: 94px;
  right: 0;
  z-index: 50;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}


.chatroom-layer::-webkit-scrollbar {
  display: none;
}

.chatroom-layer > * {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.chatroom-layer .chatroom {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgrey;
  transition: 0.3s ease;
}

.chatroom-layer .chatroom span {
  display: flex;
  flex-direction: column;
}

.chatroom-layer .chatroom .chatroom-board-info {
  width: 100%;
  background: black;
  color: white;
  text-align: center;
}

.chatroom-layer .chatroom .chatroom-content-info {
  display: flex;
  flex-direction: row;
}

.chatroom-layer .chatroom .chatroom-user {
  width: 130px;
  margin: 10px;
  align-items: center;
  position: relative;
}

.chatroom-layer .chatroom .chatroom-user .nickname {
  font-size: 0.9rem;
}

.chatroom-layer .chatroom .chatroom-user .profile {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50px;
}

.chatroom-layer .chatroom .chatroom-content {
  width: 160px;
  margin: 10px;
  font-size: 0.9rem;
  position: relative;
  justify-content: center;
}

.chatroom-layer .chatroom .chatroom-content > .message {
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: visible;
  position: relative;
}

.chatroom-layer .chatroom .unread-count {
  background-color: red;
  color: white;
  padding: 3px 6px;
  border-radius: 50px;
  position: absolute;
  left: 125px;
  top: 10px;
  z-index: 10;
  white-space: nowrap;
}

.chatroom-layer .chatroom .chatroom-content > .date {
  color: lightgrey;
}

.chatroom-layer .chatroom .photo-span {
  height: 60px;
  width: 60px;
  display: flex;
  margin-top: 10px;
}

.chatroom-layer .chatroom .board-photo {
  height: 60px;
  width: 60px;
}

.chatroom-layer .no-room-message {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.chatroom-layer .open-chat-btn {
  display: flex;
  margin: 20px auto;
}

.chatroom-layer .board-info {
  border: 1px solid black;
  background: black;
  padding: 15px;
}

.chatroom-layer .board-info span {
  display: inline-block;
  color: white;
  padding: 5px;
  min-width: 60px;
}

.chatroom-layer .board-info .board-status {
  font-weight: bold;
}

.chatroom-layer .board-info .transaction-type,
.chatroom-layer .board-info .transaction-price {
  opacity: 0.7;
}

.chatroom-layer .chat-close-btn {
    background-color: transparent;
    border: none;
    color: grey;
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.chatroom-layer .chat-close-btn:hover {
    transform: scale(1.1);
    color: white;
}

.chatroom-layer .chat-info {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: calc(100% - 170px);
  height: calc(100% - 170px);
}

.chatroom-layer .chat-info::-webkit-scrollbar {
  display: none;
}

.chatroom-layer .chat-info .owner-message-box {
  text-align: right;
}

.chatroom-layer .chat-info .owner-message-box .message {
  border-bottom-right-radius: 0;
  background-color: black;
  color: white;
  border: 0.5px solid lightgrey;
}

.chatroom-layer .chat-info .guest-message-box .message {
  border-bottom-left-radius: 0;
  background-color: white;
}

.chatroom-layer .chat-info .guest-message-box .chat-profile-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 30%;
  border-radius: 50%;
}

.chatroom-layer .chat-info .guest-message-box span {
  display: inline-block;
}

.chatroom-layer .chat-info .message-time {
  opacity: 0.7;
  margin-left: 5px;
  font-size: 0.7rem;
}

.chatroom-layer .chat-info .nickname {
  color: rgb(143, 143, 143);
  margin-left: 5px;
  font-size: 0.9rem;
}

.chatroom-layer .chat-info .message {
  background: lightgrey;
  display: inline-block;
  max-width: 300px;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
}

.chatroom-layer .chat-info .new-message-alert {
  display: none;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.chatroom-layer .chat-info .new-message-alert span {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  background: lightgrey;
  color: grey;
}

.chatroom-layer .chat-inputbox {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10;
}

.chatroom-layer .chat-inputbox .new-message {
  width: 75%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  height: 60px;
}

.chatroom-layer .chat-inputbox .chat-btn {
  width: 23%;
  height: 60px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
