@charset "utf-8";
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

* {
    font-family: "Noto Sans", sans-serif;
    color: black;
}




.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




body {
    position: relative;
    margin: 0 auto;
}


.clearfix::before, .clearfix::after {
    display: block;
    content: "";
    clear: both;
}

/* header */
header {
    padding: 30px;
    position: relative;
    border-bottom: 1px solid black;
}

header > h1 {
    display: inline;
    font-size: 14px;
}

header img {
    vertical-align: middle;
    height: 20px;
    width: 50px;
    height: auto;
}

header > nav {
    display: inline;
}

header > nav > ul {
    list-style-type: none;
    display: inline;
}

/* main */
main {
    padding: 20px 30px;
    overflow: hidden;
}

main .main-image {
    background: black;
    position: relative;
    height: 320px;
    width: 120%;
    left: -10%;
    text-align: center;
}

main .main-image-text h1 {
    padding-top: 100px;
}

main .main-image-text * {
    color: white;
}

main .main-image-text .btn {
    background: white;
    color: black;
    font-size: 16px;
}

main .main-middle {
    margin-top: 160px;
}

main .main-middle .main-middle-box {
    width: 28%;
    height: 380px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: 1px solid lightgrey;
    border-radius: 45px;
    float: left;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

main .main-middle .main-middle-box h2 {
    position: relative;
    top: -80px;
}

main .main-middle .main-middle-box .main-middle-image {
    width: fit-content;
    height: fit-content;
    position: relative;
    top: -50px;
}

main .main-bottom {
    margin-top: 80px;
    text-align: center;
}

main .main-bottom .main-bottom-box {
    width: 28%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: left;
    text-align: center;
}

main .main-bottom .main-bottom-box .main-bottom-image {
    width: 100%;
    max-height: 80%;
    object-fit: contain;
}

/* myhome */

.sidemenu {
    min-width: auto;
    width: 200px;
    height: auto;
    margin: 20px;
    margin-top: 100px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    float: left;
}

.sidemenu ul {
    padding: 10px;
    margin-left: 30px;
}

.sidemenu li {
    list-style-type: none;
}

.myhome-upper-buttons {
    float: left;
    text-align: right;
    margin-top: 20px;
    width: calc(100vw - 350px);
}

.myhome-collections {
    border-radius: 15px;
    background: lightgrey;
    width: calc(100vw - 350px);
    min-height: 320px;
    padding: 10px;
    margin-top: 40px;
    float: left;
}

.myhome-collections .collection-box {
    width: 250px;
    height: 280px;
    margin: 20px;
    padding: 10px 0;
    border-radius: 4px;
    background: white;
    text-align: center;
    float: left;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.myhome-collections .collection-box .collection-image {
    width: 100%;
    height: 80%;
    object-fit: contain;
}

.myhome-collections .collection-box .collection-title {
    font-weight: bold;
}

.collection-form-layer {
    vertical-align: middle;
}

.collection-form-layer .left-side,
.collection-view-layer .left-side {
    display: flex;
    flex-direction: column;
    width: 40%;
    float: left;
}

.collection-form-layer .left-side .collection-image,
.collection-view-layer .left-side .collection-image {
    width: 100%;
    height: 80%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.collection-form-layer .left-side .slider,
.collection-view-layer .left-side .slider {
    position: relative;
    max-width: 600px;
    height: 300px;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection-form-layer .left-side .slides,
.collection-view-layer .left-side .slides {
    display: flex;
    transition: transform 0.5s ease;
}

.collection-form-layer .left-side .slide,
.collection-view-layer .left-side .slide {
    min-width: 100%;
    box-sizing: border-box;
}

.collection-form-layer .left-side #filenames,
.collection-view-layer .left-side #filenames {
    color: blue;
}

.collection-form-layer .left-side .prev,
.collection-form-layer .left-side .next,
.collection-view-layer .left-side .prev,
.collection-view-layer .left-side .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
    /* 배경 투명도 설정 */
}

.collection-form-layer .left-side .prev,
.collection-view-layer .left-side .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.collection-form-layer .left-side .next,
.collection-view-layer .left-side .next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.collection-form-layer .right-side,
.collection-view-layer .right-side {
    width: 55%;
    float: left;
}

.collection-form-layer .right-side table,
.collection-view-layer .right-side table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.collection-form-layer .right-side table tr,
.collection-view-layer .right-side table tr {
    border: none;
}

.collection-form-layer .right-side table td,
.collection-view-layer .right-side table td {
    border: none;
}

.collection-form-layer .right-side label,
.collection-view-layer .right-side label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.collection-form-layer .right-side select,
.collection-view-layer .right-side select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

.collection-form-layer .right-side input[type="text"],
.collection-view-layer .right-side input[type="text"],
.collection-form-layer .right-side input[type="number"],
.collection-view-layer .right-side input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

.collection-form-layer .right-side input[type="submit"],
.collection-view-layer .right-side input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* chat */
.chatroom-layer {
    background: white;
    border: 1px solid lightgrey;
    box-shadow: 3px 3px 2px;
    width: 400px;
    height: calc(100vh - 110px);
    position: fixed;
    top: 110px;
    right: 0;
    z-index: 50;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.chatroom-layer .chatroom {
    display: flex;
    align-items: center;
    border: 1px solid lightgrey;
    transition: 0.3s ease;
}

.chatroom-layer .chatroom:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
    cursor: pointer;
}

.chatroom-layer .chatroom > span {
    display: flex;
    flex-direction: column;
}

.chatroom-layer .chatroom > .chatroom-user {
    width: 130px;
    margin: 10px;
    align-items: center;
}

.chatroom-layer .chatroom > .chatroom-content {
    width: 230px;
    margin: 10px;
    font-size: 0.9rem;
}

.chatroom-layer .chatroom > .chatroom-content > .message {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chatroom-layer .chatroom > .chatroom-content > .date {
    color: lightgrey;
}


/* footer */
footer {
    height: 100px;
}


/* btn */
.btn {
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;
}

.btn:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: black;
}

.btn-light {
    background-color: white;
}

.btn-join {
    background-color: white;
    border: 1px solid black;
}

.btn-login {
    background-color: black;
    color: white;
}

.btn-secondary {
    background-color: darkgreen;
    color: white;
}

.pos-right {
    position: absolute;
    right: 30px;
}

.login-state {
    display: inline-flex;
}

/* layer */

.layer {
    text-align: center;
    background: white;
    width: 700px;
    height: 600px;
    margin: 0 auto;
    border-radius: 25px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}

.x {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5%;
    left: 90%;
}

.x:hover {
    cursor: pointer;
}


/* table */
table {
    border-collapse: separate;
    border-spacing: 2px;
}

table, tr, td {
    border: 1px solid black;
}

th {
    background-color: #c2c2c2;
    padding: 5px;
}

td {
    padding: 5px;
}


/* board 클래스 설정 */
.board {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

/* 중앙 위쪽 박스 (인기글) 설정 */
.board .boardHomePopular-middle-box {
    width: 100%;
    height: 600px;
    min-width: 250px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: left;
    padding: 80px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    gap: 20px;
}

/* 아래 왼쪽 박스 (게시글) 설정 */
.board .boardHomeRecent-middle-box {
    width: 55%;
    min-width: 250px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: left;
    padding: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    gap: 20px;
}
/*-----------------------------------------------------------------------*/
/* 오른쪽 박스 (업적 랭킹) 설정 */
.board .boardHomeAchievement-middle-box {
    width: 30%;
    min-width: 250px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: left;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 업적 랭킹 내부 레이아웃 설정 */
.achievement-content {
    display: flex;
    justify-content: space-between;
}

/* 각각의 열 스타일 */
.achievement-column {
    width: 45%;
}

/* 열의 제목 스타일 */
.achievement-column h3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

/* 업적 목록 스타일 */
.achievement-list {
    list-style-type: none;
    padding: 0;
}

/* 각 항목의 간격 설정 */
.achievement-list li {
    margin-bottom: 5px;
}

/*-----------------------------------------------------------------------*/
/* 이미지와 텍스트 정렬 */
.board .boardHome-middle-image {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    padding: 10px;

}

/* 이미지 스타일 */
.board .boardHome-middle-image img {
    width: 250px;
    height: auto;
    flex-shrink: 0;
}

/* 텍스트 스타일 */
.board .boardHome-middle-image div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* 게시글 이미지 */
/* 이미지와 텍스트 정렬 */
.board .boardHomeRecent-middle-image {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    padding: 10px;

}

/* 이미지 스타일 */
.board .boardHomeRecent-middle-image img {
    width: 150px;
    height: auto;
    flex-shrink: 0;
}

/* 텍스트 스타일 */
.board .boardHomeRecent-middle-image div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}





/*-----------------------------------------------------------------------*/

/* board 클래스 설정 */
.boardList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;


/* 중앙 위쪽 박스 (인기글) 설정 */
.boardList .boardList-middle-box {
    width: 10%;
    height: 100px;
    min-width: 250px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: left;
    padding: 80px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    gap: 20px;
}


.boardList .boardList-middle-image {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    padding: 10px;

}

/* 이미지 스타일 */
.board .boardList-middle-image img {
    width: 150px;
    height: auto;
    flex-shrink: 0;
}

/* 텍스트 스타일 */
.board .boardList-middle-image div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/*-----------------------------------------------------------------------*/
div p1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal ;
    width: 1300px;
    height: auto;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 최대 3줄까지 표시 */
    -webkit-box-orient: vertical;
}

div p2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal ;
    width: 600px;
    height: auto;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 최대 3줄까지 표시 */
    -webkit-box-orient: vertical;
}}
