<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title></title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

<header data-th-fragment="header">
  <div class="overlay" onClick="closePopup();"></div>
  <a href="/home">
    <img alt="홈" data-th-src="@{/images/home.gif}">
  </a>
  <nav>
    <ul>
      <li class="btn">
        <a href="/home">마이홈</a>
      </li>
      <li class="btn">
        <a href="#"
           th:href="@{/board/boardHome}"
           th:if="${#authorization.expression('isAuthenticated()')}">
          게시판
        </a>
        <a href="#"
           onclick="openLoginModal(); return false;"
           th:unless="${#authorization.expression('isAuthenticated()')}">
          게시판
        </a>
      </li>
      <li class="btn"><a data-th-href="@{/}" onClick="openLoginModal(); return false;">수집품거래</a></li>
      <li class="btn"><a data-th-href="@{/}" onClick="openLoginModal(); return false;">하비위키</a></li>
    </ul>
  </nav>

  <div class="login-state pos-right" data-th-unless="${#authorization.expression('isAuthenticated()')}">
      <button class="btn btn-join" onclick="openSignupModal();">회원가입</button>
      <button class="btn btn-login" onClick="openLoginModal();">로그인</button>
  </div>
  <div class="login-state pos-right" data-th-if="${#authorization.expression('isAuthenticated()')}">
      <a class="btn" data-th-href="@{/home}">사용자</a>
      <form data-th-action="@{/logout}" method="post" style="display: inline;">
      <input data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}" type="hidden" />
      <button class="btn btn-logout" type="submit">로그아웃</button>
    </form>
  </div>

<div class="modal" id="loginModal">
  <div class="modal-content">
    <span class="close" onclick="closeLoginModal()">&times;</span>
    <h2>로그인</h2>
    <form data-th-action="@{/auth/login}" method="post">
      <div>
        <label for="email">이메일:</label>
        <input id="email" name="email" required type="email">
      </div>
      <div>
        <label for="password">암호:</label>
        <input id="password" name="password" required type="password">
      </div>
      <div>
        <input id="saveEmail" name="saveEmail" type="checkbox">
        <label for="saveEmail">이메일 저장</label>
      </div>
      <div>
        <button type="submit">로그인</button>
      </div>
      <div data-th-if="${param.error}">
        <p style="color-red;">잘못된 아이디나 비밀번호입니다.</p>
      </div>
    </form>
  </div>
</div>

<div class="modal" id="signupModal">
  <div class="modal-content">
    <span class="close" onclick="closeSignupModal()">&times;</span>
    <h2>회원가입</h2>
    <form data-th-action="@{/user/signup}" method="post">
      <input data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}" type="hidden" />
      <div>
        <label for="nickname">닉네임:</label>
        <input id="nickname" name="nickname" required type="text">
      </div>
      <div>
        <label for="signupEmail">이메일:</label>
        <input id="signupEmail" name="email" required type="email">
      </div>
      <div>
        <label for="signupPassword">비밀번호:</label>
        <input id="signupPassword" name="password" required type="password">
      </div>
      <div>
        <button type="submit">가입하기</button>
      </div>
    </form>
  </div>
</div>

<script data-th-fragment="commonjs" src="/js/common.js"></script>
</header>

</body>
</html>
