<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>모음 - 나만의 수집품 관리</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <header data-th-replace="~{header :: header}"></header>

    <main>
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/main/banner-image-1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/main/banner-image-2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/main/banner-image-3.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/main/banner-image-4.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/main/banner-image-5.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="main-middle clearfix">
            <div class="main-middle-box">
                <h2>모으기</h2>
                <img alt="모으기 이미지" class="main-middle-image" data-th-src="@{/images/main/main-middle-01.png}">
            </div>
            <div class="main-middle-box">
                <h2>관리하기</h2>
                <img alt="관리하기 이미지" class="main-middle-image" data-th-src="@{/images/main/main-middle-02.png}">
            </div>
            <div class="main-middle-box">
                <h2>자랑하기</h2>
                <img alt="자랑하기 이미지" class="main-middle-image" data-th-src="@{/images/main/main-middle-03.png}">
            </div>
        </div>

        <div class="main-bottom clearfix">
            <h2>모음의 기능 소개</h2>

            <div class="main-bottom-box">
                <img alt="마이홈 기능 소개 이미지" class="main-bottom-image" data-th-src="@{/images/main/main-bottom-1.png}">
                <h4>마이홈에서 내 게시글과 업적을 관리하기</h4>
                <p class="main-bottom-text" style="text-align: left;">
                    내가 올린 게시글과 획득한 업적을 한번에 모아볼 수 있어요. 내가 좋아하는 사진으로 프로필을 꾸미고, 개성 있는 닉네임으로 나를 소개해 보세요.
                </p>
            </div>

            <div class="main-bottom-box">
                <img alt="소장품 구경 기능 소개 이미지" class="main-bottom-image" data-th-src="@{/images/main/main-bottom-2.png}">
                <h4>다른 사람의 소장품을 구경하고 소통하기</h4>
                <p class="main-bottom-text" style="text-align: left;">
                    소장품을 쇼케이스에만 두고 혼자 감상하는 것이 외로울 때가 있죠. 그럴 때는 나의 소장품을 자랑하고 나만의 이야기를 써 보세요. 다른 사람은 어떤 소장품을 가지고 있는지 궁금하지 않나요?
                </p>
            </div>

            <div class="main-bottom-box">
                <img alt="소장품 판매 기능 소개 이미지" class="main-bottom-image" data-th-src="@{/images/main/main-bottom-3.png}">
                <h4>소장품을 판매하기</h4>
                <p class="main-bottom-text" style="text-align: left;">
                    때로는 비워야 새로운 것을 가질 수 있는 법이에요. 내가 가진 소장품을 다른 사람에게 판매할 수 있어요. 본인인증으로 더욱 안전해진 거래.
                </p>
            </div>
        </div>
    </main>

    <footer data-th-replace="~{footer :: footer}"></footer>
<!--    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>-->
</body>
</html>
