<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>마이홈</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

    <div th:replace="~{header}"></div>

    <main>
        <aside class="sidemenu clearfix">
            <ul>
                <li>레고</li>
                <li>프라모델</li>
                <li>신발</li>
            </ul>
        </aside>
        
        <div class="myhome-collections clearfix">
            <div th:if="${#lists.isEmpty(collectionList)}">
                <p>소집품이 없습니다.</p>
            </div>
            <div th:if="${not #lists.isEmpty(collectionList)}">
                <div th:each="collection : ${collectionList}" class="collection-box clearfix">
                    <img th:if="${not #lists.isEmpty(collection.attachedFiles)}"
                         th:src="${collection.attachedFiles[0].filepath}"
                         class="collection-image" />
                    <img th:if="${#lists.isEmpty(collection.attachedFiles)}"
                         src="/images/common/empty-frame.png"
                         class="collection-image" />
                    <div class="collection-title" th:text="${collection.name}"></div>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="~{footer}"></div>

</body>
</html>
