<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>마이홈</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

    <div th:replace="~{header}"></div>

    <main>
        <aside class="sidemenu clearfix">
            <ul>
                <li>레고</li>
                <li>프라모델</li>
                <li>신발</li>
            </ul>
        </aside>
        <div class="myhome-upper-buttons">
            <button class="btn" onClick="openCollectionFormPopup();">수집품 등록</button>
            <button class="btn">POST</button>
        </div>
        <div class="myhome-collections clearfix">
            <div th:if="${#lists.isEmpty(collectionList)}">
                <p>소집품이 없습니다.</p>
            </div>
            <div th:if="${not #lists.isEmpty(collectionList)}">
                <button th:each="collection : ${collectionList}" class="collection-box btn clearfix"
                        th:attr="onclick='openCollectionViewPopup(' + ${collection.no} + ');'">
                    <img th:if="${not #lists.isEmpty(collection.attachedFiles)}"
                         th:src="${'https://kr.object.ncloudstorage.com/bitcamp-moum/collection/' + collection.attachedFiles[0].filename}"
                         class="collection-image" />
                    <img th:if="${#lists.isEmpty(collection.attachedFiles)}"
                         src="/images/collections/empty-collection.png"
                         class="collection-image" />
                    <div class="collection-title" th:text="${collection.name}"></div>
                </button>
            </div>
        </div>
    </main>

    <div th:replace="~{footer}"></div>

    <!--  수집품 등록 화면  -->
    <div class="layer collection-form-layer"></div>

    <!--  수집품 상세 화면  -->
    <div class="layer collection-view-layer"></div>

</body>
</html>
