<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>마이홈</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta data-th-content="${_csrf.token}" name="csrf-token"/>
    <meta data-th-content="${_csrf.headerName}" name="csrf-header"/>
</head>

<body>

<header data-th-replace="~{header :: header}"></header>

<main>
    <aside class="sidemenu clearfix">
        <ul>
            <li data-th-each="maincategory : ${maincategoryList}">
                <input checked data-th-class="myhome-maincategory"
                       data-th-id="'maincategory-' + ${maincategory.no}"
                       data-th-value="'maincategory-' + ${maincategory.no}"
                       onClick="filterCategories(this)"
                       type="checkbox" value="maincategory">
                <label data-th-for="'maincategory-' + ${maincategory.no}" data-th-text="${maincategory.name}"></label>
            </li>
        </ul>
    </aside>
    <div class="myhome-upper-buttons">
        <button class="btn" onClick="openCollectionFormPopup();">수집품 등록</button>
        <button class="btn" onClick="alert('게시글 연결 필요')">POST</button>
    </div>
    <div class="myhome-collections clearfix">
        <div data-th-if="${#lists.isEmpty(collectionList)}">
            <p>소집품이 없습니다.</p>
        </div>
        <div data-th-if="${not #lists.isEmpty(collectionList)}">
            <button data-th-attr="onclick='openCollectionViewPopup(' + ${collection.no} + ');'"
                    data-th-class="'collection-box btn clearfix maincategory-' + ${collection.maincategory.no}"
                    data-th-each="collection : ${collectionList}">
                <img class="collection-image"
                     data-th-if="${not #lists.isEmpty(collection.attachedFiles)}"
                     data-th-src="${'https://kr.object.ncloudstorage.com/bitcamp-moum/collection/' + collection.attachedFiles[0].filename}" />
                <img class="collection-image"
                     data-th-if="${#lists.isEmpty(collection.attachedFiles)}"
                     src="/images/collections/empty-collection.png" />
                <div class="collection-title" data-th-text="${collection.name}"></div>
            </button>
        </div>
    </div>
</main>

<footer data-th-replace="~{footer :: footer}"></footer>

<!--  수집품 등록 화면  -->
<div class="layer collection-form-layer"></div>

<!--  수집품 상세 화면  -->
<div class="layer collection-view-layer"></div>


    <script src="/js/collection.js"></script>
    <script>
        <!--  수집품 조회화면 사진 인덱스  -->
        let collectionSlideIndex = 0;
    </script>

</body>
</html>

