<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

<div th:fragment="collection-form" class="layer collection-form-layer">
  <img class="x" th:src="@{/images/common/x.png}" onClick="closePopup();" alt="닫기">
  <div class="left-side">
    <img class="collection-image" id="empty-image" th:src="@{/images/collections/empty-collection.png}" alt="수집품 이미지 등록"
         onClick="triggerFileInput();">
    <img id="preview" src="#" alt="미리보기" style="display: none;" onclick="triggerFileInput()">
    <div id="filenames"></div>
  </div>
  <form class="right-side" action="/collection/add" method="post" enctype="multipart/form-data">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="file" name="files" id="files" multiple onChange="previewImage(event);" style="display: none;">
    <table>
      <tr>
        <td><label for="name">상품 한글명</label></td>
        <td><input type="text" name="name" id="name"></td>
      </tr>
      <tr>
        <td><label for="enName">상품 영문명</label></td>
        <td><input type="text" name="enName" id="enName"></td>
      </tr>
      <tr>
        <td><label for="price">가격</label></td>
        <td><input type="text" name="price" id="price"></td>
      </tr>
      <tr>
        <td><label for="maincategoryNo">대분류</label></td>
        <td>
          <select name="maincategoryNo" id="maincategoryNo" onChange="fetchSubcategories(this.value)">
            <option value="0">선택</option>
            <th:block th:each="maincategory : ${maincategoryList}">
              <option th:text="${maincategory.name}" th:attr="value=${maincategory.no}"></option>
            </th:block>
          </select>
        </td>
      </tr>
      <tr>
        <td><label for="subcategoryNo">소분류</label></td>
        <td>
          <select name="subcategoryNo" id="subcategoryNo" disabled>

          </select>
        </td>
      </tr>
      <tr>
        <td><label for="purchasePlace">구매처</label></td>
        <td><input type="text" name="purchasePlace" id="purchasePlace"></td>
      </tr>
      <tr>
        <td><label for="storageLocation">보관장소</label></td>
        <td><input type="text" name="storageLocation" id="storageLocation"></td>
      </tr>
      <tr>
        <td><label for="statusNo">상태</label></td>
        <td>
          <select name="statusNo" id="statusNo">
            <option value="0">선택</option>
            <th:block th:each="status : ${collectionStatusList}">
              <option th:text="${status.name}" th:attr="value=${status.no}"></option>
            </th:block>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="upload"></td>
      </tr>
    </table>
  </form>
</div>

</body>
</html>
