<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title></title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="layer collection-view-layer">
  <img alt="닫기" class="x" onClick="closeModal();" src="/images/common/x.png">
  <div class="left-side">
    <img alt="수집품 이미지 등록" class="collection-image empty-image"
         data-th-style="${not (collection.attachedFiles == null or #lists.isEmpty(collection.attachedFiles))} ? 'display:none;' : ''"
         onClick="triggerFileInput()" src="/images/collections/empty-collection.png">
    <div class="slider"
         data-th-style="${(collection.attachedFiles == null or #lists.isEmpty(collection.attachedFiles))} ? 'display:none;' : ''">
      <div class="slides">
        <img alt="수집품 이미지" class="collection-image slide current-image" data-th-each="attachedFile : ${collection.attachedFiles}"
             data-th-id="'collection-image-' + ${attachedFile.no}"
             data-th-src="${'https://kr.object.ncloudstorage.com/bitcamp-moum/collection/' + attachedFile.filename}" onClick="triggerFileInput()">
      </div>
      <a class="prev" data-th-style="${#lists.size(collection.attachedFiles) <= 1 ? 'display:none;' : ''}" onClick="changeSlide(-1)">&#10094;</a>
      <a class="next" data-th-style="${#lists.size(collection.attachedFiles) <= 1 ? 'display:none;' : ''}" onClick="changeSlide(1)">&#10095;</a>
    </div>
    <div id="currentFilenames">
      <div data-th-each="attachedFile : ${collection.attachedFiles}"
           data-th-id="'currentFilename-' + ${attachedFile.no}"
           data-th-unless="${collection.attachedFiles == null or #lists.isEmpty(collection.attachedFiles)}" >
        <span data-th-text="${attachedFile.originFilename}">첨부파일명</span>
        <button class="btn"
                data-th-attr="onClick='deleteFile(' + ${attachedFile.no} + ', ' + ${collection.no} +');'">삭제</button>
      </div>
    </div>
    <div id="filenames"></div>
  </div>
  <div class="right-side" id="updateForm">
    <input data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}" type="hidden" />
    <input data-th-value="${collection.no}" id="no" name="no" readonly type="hidden" value="101">
    <input id="files" multiple name="files" onChange="previewImage(event);" style="display:none;" type="file">
    <table>
      <tr>
        <td><label for="name">상품 한글명</label></td>
        <td><input data-th-value="${collection.name}" id="name" name="name" type="text" value="홍길동"></td>
      </tr>
      <tr>
        <td><label for="price">가격</label></td>
        <td><input data-th-value="${collection.price}" id="price" name="price" oninput="formatNumber(this);" type="text" value="100000"></td>
      </tr>
      <tr>
        <td><label for="maincategoryNo">대분류</label></td>
        <td>
          <select id="maincategoryNo" name="maincategory.no" onChange="fetchSubcategories(this.value)">
            <option value="0">선택</option>
            <option data-th-each="maincategory : ${maincategoryList}"
                    data-th-selected="${maincategory.no} == ${collection.maincategory.no}" data-th-text="${maincategory.name}"
                    data-th-value="${maincategory.no}" value="1">대분류명</option>
            <option value="999">기타</option>
          </select>
        </td>
      </tr>
      <tr style="${collection.otherCategory == null ? 'display: table-row;' : 'display: none;'}">
        <td><label for="subcategoryNo">소분류</label></td>
        <td>
          <select id="subcategoryNo" name="subcategory.no">
            <option value="0">선택</option>
            <option data-th-each="subcategory : ${subcategoryList}"
                    data-th-selected="${subcategory.no} == ${collection.subcategory.no}" data-th-text="${subcategory.name}"
                    data-th-value="${subcategory.no}" value="1">소분류명</option>
          </select>
        </td>
      </tr>
      <tr style="${collection.otherCategory != null ? 'display: table-row;' : 'display: none;'}">
        <td><label for="otherCategory">분류명</label></td>
        <td><input data-th-value="${collection.otherCategory.name}" id="otherCategory" name="otherCategory" type="text" value="기타분류"></td>
      </tr>
      <tr>
        <td><label for="purchasePlace">구매처</label></td>
        <td><input data-th-value="${collection.purchasePlace}" id="purchasePlace" name="purchasePlace" type="text" value="구매처"></td>
      </tr>
      <tr>
        <td><label for="storageLocation">보관장소</label></td>
        <td><input data-th-value="${collection.storageLocation}" id="storageLocation" name="storageLocation" type="text" value="보관장소"></td>
      </tr>
      <tr>
        <td><label for="statusNo">상태</label></td>
        <td>
          <select id="statusNo" name="status.no">
            <option value="0">선택</option>
            <option data-th-each="status : ${collectionStatusList}"
                    data-th-selected="${status.no} == ${collection.status.no}" data-th-text="${status.name}"
                    data-th-value="${status.no}" value="1">상태명</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><input onClick="updateCollection()" type="submit" value="수정"></td>
        <td><a class="btn" data-th-onclick="'deleteCollection(' + ${collection.no} + ')'">삭제</a></td>
      </tr>
    </table>
  </div>
</div>

</body>
</html>
